<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pizza menu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--styles css -->
    <link rel="stylesheet" href="css/style.css">
    <!--scripts -->
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
</head>
<body ng-app="pizzaMenu">
    <input type="text" ng-model="query">
    <section ng-controller="pizzaMenuCtrl" id="pizzaMenu-list">
        <div class="content-wr flex">
            <pizza-card
                    class="col"
                    ng-repeat="pizza in pizzas | filter:query"
                    pizza="pizza">
            </pizza-card>
        </div>
    </section>
</body>
</html>